/* Draft icons */

.add-media-icon {
  content: url('../assets/camera.svg');
}

.go-live-icon {
  content: url('../assets/video.svg');
}

.add-media-button,
.go-live-button {
  width: 200px;
}

/* Reaction bar icons */

.add-media-button,
.go-live-button,
.hype-button,
.comment-button,
.share-button {
  background-color: rgba(244, 73, 0, 0);
  border: none;
  border-radius: 100px;
  width: 30px;
  height: 30px;
}

.hype-button:hover {
  background-color: rgba(244, 73, 0, 0.3);
}

.hype-icon {
  content: url('../assets/flame.svg');
  margin-left: 3px;
  opacity: 0.6;
}

.hype-button:hover .hype-icon {
  filter: invert(32%) sepia(39%) saturate(6295%) hue-rotate(12deg)
    brightness(102%) contrast(106%);
  opacity: 1;
}

.hype-button:active,
.hype-active {
  background-color: #f44900;
}
.hype-button:active .hype-icon,
.hype-active .hype-icon {
  filter: invert(100%) sepia(0%) saturate(16%) hue-rotate(293deg)
    brightness(105%) contrast(103%);
  opacity: 1;
}

.hype-button:active {
  background-color: #f44900;
}

.comment-icon {
  content: url('../assets/comment.svg');
}

.comment-button:hover {
  background-color: rgba(0, 108, 250, 0.3);
}

.comment-button:hover .comment-icon {
  filter: invert(27%) sepia(94%) saturate(3301%) hue-rotate(207deg)
    brightness(100%) contrast(100%);
  opacity: 1;
}

.comment-button:active .comment-icon {
  filter: none;
  content: url('../assets/comment-white.svg');
  filter: invert(0%) sepia(0%) saturate(116%) hue-rotate(293deg)
    brightness(125%) contrast(103%);
  opacity: 1;
}

.comment-button:active {
  background-color: #006cfa;
}

.share-icon {
  margin-left: 1px;
  content: url('../assets/share.svg');
}

.share-button:hover {
  background-color: rgba(18, 21, 29, 0.3);
}

.share-button:hover .share-icon {
  filter: invert(8%) sepia(28%) saturate(541%) hue-rotate(186deg)
    brightness(87%) contrast(99%);
  opacity: 1;
}

.share-button:active .share-icon {
  filter: none;
  content: url('../assets/share-white.svg');
  opacity: 1;
}

.share-button:active {
  background-color: #12151d;
}

.icon-button {
  margin-left: 5px;
  margin-right: 8px;
}
