.draft,
.post {
  border: 1px #ced7e7 solid;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem auto;
  width: 80%;
  max-width: 1200px;
}

.draft {
  min-height: auto;
  padding: 1rem;
  height: 7rem;
}

.draft-input {
  width: 100%;
}

.new-post {
  padding: 1rem;
  border: none;
  border-radius: 8px;
  margin: 1rem 0;
  float: right;
  color: white;
  font-weight: 500;
  background-color: #006cfa;
  width: 80px;
}

.new-post:hover {
  background-color: #2080ff;
}

.new-post:active {
  background-color: #0661d9;
}

.draft-bar {
  display: flex;
  justify-content: space-between;
}

.draft-bar-buttons {
  display: flex;
  align-items: center;
}

.draft-bar-buttons > div,
.draft-bar-buttons > div > button,
.draft-bar-buttons > div > p,
.reaction-bar > div,
.reaction-bar > p {
  display: inline-block;
  margin: 5px;
}
